@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    /* CSS THEME PRIMARY COLORS*/
    --color-primary-100: #005ea6;
    --color-primary-200: #396eb0;
    --color-primary-300: #577fba;
    --color-primary-400: #7190c4;
    --color-primary-500: #89a2ce;
    --color-primary-600: #a1b4d8;
    
    /* CSS THEME SURFACE COLORS */
    --color-surface-100: #f6f7fb;
    --color-surface-200: #f7f8fb;
    --color-surface-300: #f8f9fc;
    --color-surface-400: #f9fafc;
    --color-surface-500: #fafbfd;
    --color-surface-600: #fbfbfd;
    
    /* CSS THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #e2e6f3;
    --color-surface-mixed-200: #e5e9f4;
    --color-surface-mixed-300: #e8ecf6;
    --color-surface-mixed-400: #eceef7;
    --color-surface-mixed-500: #eff1f8;
    --color-surface-mixed-600: #f2f4fa;

    --margin-100: 100px;
    --padding-100: 100px;

    --color-white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: var(--color-surface-100);
}

.flx-rw {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flx-cl {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.btn-fill {
    padding: 7px 14px;
    color: var(--color-surface-mixed-300);
    font-weight: 400;
    background-color: var(--color-primary-100);
    border-radius: 7px;
}

.btn-fill:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.width-20 {
    width: 20%;
}

.width-40 {
    width: 40%;
}

.width-80 {
    width: 80%;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}



.navbar {
    background-color: var(--color-surface-100);
    overflow: hidden;
    padding: 13px 100px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-bottom: 1px solid #d9d9d9;
    z-index: 1;
}

.navbar a {
    float: left;
    box-sizing: border-box;
    display: block;
    color: #000;
    text-align: center;
    padding: 7px 14px;
    border-radius: 10px;
    margin: 0 10px;
}

.navbar a.name {
    color: var(--color-primary-100);
    font-weight: 600;
}

.navbar a.right {
    color: var(--color-primary-300);
    float: right;
    font-weight: 400;
}

.navbar a.right:hover {
    color: var(--color-primary-100);
    font-weight: 600;
    background-color: var(--color-surface-mixed-300);
}

.navbar a.active {
    color: var(--color-primary-100);
    font-weight: 600;
}

.navbar .icon {
    display: none;
}

.profile {
    background-color: var(--color-surface-100);
    padding: 50px 100px 20px 100px;
}

.profile img {
    width: 200px;
    border-radius: 50%;
}

.social-media {
    justify-content: center;
    background-color: var(--color-surface-100);
    padding: 0 0 25px 0;
}

.social-media a {
    background-color: var(--color-surface-100);
    display: inline-block;
    margin: 10px;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid var(--color-primary-600);
}

.social-media i {
    font-size: 28px;
    color: var(--color-primary-600);
    padding: 10px;
}

.social-media a:hover {
    border: 1px solid var(--color-primary-100);
}

.social-media i:hover {
    color: var(--color-primary-100);
}

.content {
    background-color: var(--color-white);
    padding: 20px 0;
    margin: 25px 100px 50px 100px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.scrollmenu {
    background-color: var(--color-white);
    overflow: auto;
    white-space: nowrap;
    position: sticky;
    position: -webkit-sticky;
    top: 61px;
    z-index: 0;
    border-bottom: 1px solid #d9d9d9;
}

.scrollmenu button {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--color-primary-100);
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    margin: 0;
    background-color: var(--color-white);
    font-weight: 500;
}

.scrollmenu button:hover {
    background-color: var(--color-surface-mixed-300);
}

.tabcontent {
    height: 100%;
    display: none;
    padding: 20px;
    z-index: -1;
}

.tabcontent h2 {
    margin-bottom: 20px;
}

table {
    margin: 10px 0 20px 0;
    width: 100%;
}

table, td {
    border: 1px solid #d9d9d9;
    border-collapse: collapse;
}

td {
    padding:5px 10px;
}

.tabcontent .flx-rw {
    justify-content: center;
}

.tabcontent img {
    width: 50%;
}

.line {
    width: 100%;
    background-color: #d9d9d9;
    height: 1px;
    margin: 30px 0 30px 0;
}

p.margin-bottom {
    margin-bottom: 20px;
    
}

.flx-rw.title-education {
    justify-content: space-between;
    margin-bottom: 10px;
}

ul {
    margin-bottom: 20px;
}

li {
    margin: 3px 0;
}

.footer {
    padding: 50px 100px;
    background-color: var(--color-primary-100);
    align-items: flex-start;
    color: var(--color-surface-100);
}

.footer.flx-rw {
    flex-wrap: nowrap;
    gap: 50px;
}

.footer a{
    color: var(--color-surface-300);
    margin: 5px 0;
}

.footer i {
    font-size: 18px;
    margin-right: 5px;
}

/*CV*/
#pdf-frame {
    width: 100%;
    height: calc(100vh - 65px);
}

/* RESPONSIVE */
@media screen and (max-width:990px) {
    .navbar {
        padding: 13px 50px;
    }
    .content {
        margin: 25px 50px;
    }
}

@media screen and (max-width:900px) {
    .navbar {
        padding: 13px 25px;
    }
    .content {
        margin: 12px 25px;
    }
}


@media screen and (max-width:830px) {
    .navbar {
        padding: 13px 0;
    }
}

@media screen and (max-width:820px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
        color: var(--color-primary-100);
    }
}

@media screen and (max-width:820px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navbar.responsive {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
}

@media screen and (max-width:780px) {
    .footer.flx-rw {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}